<div class='demo'><ul class='list_none'><div id='chat'><div class='chat'><div class='mesaj-gecmisi'><div class='chat_s'><div class='o'><img align='right'src='assets/images/user-chat.webp'width='40px'><p>"+msg+"</p><div class='sil'></div></div></div></div></div></div></ul></div>








 <div class='demo'><ul class='list_none'><div id='chat'><header class='baslik'><div class='kapat'>-</div><h4>ESQUITECHS</h4><span class='sayac'>1</span></header><div class='chat'><div class='mesaj-gecmisi'><div class='chat_s'><div class='o'><img align='right'src='assets/images/user chat.webp'width='40px'><p id='resultado1'>+"Ayhan ALTINOK"+</p><div class='sil'></div></div></div><div id='sonuc'></div></div> <p class='islem'></p></div></div></ul></div>


<div class='demo'><ul class='list_none'><div id='chat'><header class='baslik'><div class='kapat'>-</div><h4>ESQUITECHS</h4><span class='sayac'>1</span></header><div class='chat'><div class='mesaj-gecmisi'><div class='chat_s'><div class='o'><img align='right' src='../images/user-chat.webp'width='40px'><p id='resultado1'>"+msg+"+</p><div class='sil'></div></div></div><div id='sonuc'></div></div> <p class='islem'></p></div></div></ul></div>